# environment variables
.env
.env.*
!.env.example

# python
__pycache__/
*.pyc
.venv/
venv/

# node
node_modules/
out/

# terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform.tfvars
*.tfvars.backup

.next/
.cache/     
.vercel
